name: Crystal CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  format:
    name: Check Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: crystal-lang/install-crystal@v1

      - name: Check formatting
        run: crystal tool format --check

  ameba:
    name: Ameba Linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: crystal-lang/install-crystal@v1

      - name: Install dependencies
        run: shards install

      - name: Run Ameba
        run: bin/ameba